.reproductor{
    
    
    display: flex;
    justify-content: space-between;
}
.buscardor{
    display: flex;
}
.buscardor img{
    
    margin-left: -2vw;
    width: 20px;;
}
input{
    width:45vw;
    border-radius: 100px;
    border: 1px solid #828282;
    height:3vh;
    padding: 10px;
    margin-top: -5px;
}

.usuario{
    display: flex;
    
    align-items:center;
}
.usuario p{
    
    font-size: 1rem;
    color:#4F4F4F;
  
}
.reproductor .usuario .user{
    
    height:20px;
   
}

.enviar{
 display: none;
}
form{
    display: flex;
}